# Build-Outputs & temporäre Dateien
output/
wandb/
cache/
__pycache__/
*.py[cod]
.Python
.DS_Store
.vscode/
.datasets/
.dataset_generation/
tests


# Python-Build-Systeme
.venv/
.pdm-build/
.env
.*env*
.env.example

# Git & Tests
.git/
.gitignore
.gitattributes
.github/
tests/

# Jupyter, Daten, Notebooks
notebooks/
data/

# Optional: Dockerfile selbst (wenn nicht mitgebaut werden soll)
Dockerfile
docker-compose.yml

