datasets/synthetic_data_ger.json filter=lfs diff=lfs merge=lfs -text
datasets/synthetic_data_ger_augmented.json filter=lfs diff=lfs merge=lfs -text
datasets/test_synthetic_data_ger.json filter=lfs diff=lfs merge=lfs -text
